[submodule "vendor/glew/glew"]
	path = vendor/glew/glew
	url = git@github.com-RedE01:RedE01/glew.git
[submodule "vendor/glfw/glfw"]
	path = vendor/glfw/glfw
	url = git@github.com-RedE01:glfw/glfw.git
[submodule "vendor/glm/glm"]
	path = vendor/glm/glm
	url = git@github.com-RedE01:g-truc/glm.git
