[submodule "vendor/glew/glew"]
	path = vendor/glew/glew
	url = git@github.com:edvinsternvik/glew.git
[submodule "vendor/glfw/glfw"]
	path = vendor/glfw/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/glm/glm"]
	path = vendor/glm/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = git@github.com:nothings/stb.git
